.gifbutton {
  animation: fadeIn 1s linear;
  animation-fill-mode: forwards; 
  animation-delay: 6.5s;
  opacity: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button {
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  cursor: pointer;
}
.gif {
  filter: invert(60%) hue-rotate(0deg) brightness(150%) contrast(100%)
}
.luna {
  animation: text 3s ease-in-out;
  animation-fill-mode: forwards; 
  animation-delay: 0.75s;
  transform: translate(0,20vh)
}
@keyframes text {
  0% {
    background-position: 0px 50%;
    clip-path: circle(0%);
    opacity: 1;
  }
  100% {
    background-position: 0px 50%;
    clip-path: circle(100%);
    opacity: 1;
  }
}
.subL {
  animation: subtextL 3s ease-in-out;
  animation-fill-mode: forwards; 
  animation-delay: 2s;
  opacity: 0;
}
@keyframes subtextL {
  /*
  f--------a  
   \        \
     e        b
   /        /
  d--------c
  */
  0% {
    background-position: 0px 50%;
    clip-path: polygon(
      -50% 0%,    /* a */
      -50% 50%,   /* b */
      -50% 100%,  /* c */
      -50% 100%,  /* d */
      -50% 50%,   /* e */
      -50% 0%     /* f */
    );
    opacity: 1;
  }
    100% {
    background-position: 0px 50%;
    clip-path: polygon(
      175% 0%,    /* a */
      200% 50%,   /* b */
      175% 100%,  /* c */
      0% 100%,    /* d */
      0% 50%,     /* e */
      0% 0%       /* f */
    );
    opacity: 1;
  }
}
.subR {
  animation: subtextR 3s ease-in-out;
  animation-fill-mode: forwards; 
  animation-delay: 1.8s;
  opacity: 0;
}
@keyframes subtextR {
  /*
     f--------a
    /        /
  e        b 
    \        \
     d--------c
  */
  0% {
    background-position: 0px 50%;
    clip-path: polygon(
      150% 0%,    /* a */
      150% 50%,   /* b */
      150% 100%,  /* c */
      150% 100%,  /* d */
      150% 50%,   /* e */
      150% 0%     /* f */
    );
    opacity: 1;
  }
    100% {
    background-position: 0px 50%;
    clip-path: polygon(
      150% 0%,    /* a */
      150% 0%,    /* b */
      150% 100%,  /* c */
      -25% 100%,  /* d */
      -50% 50%,   /* e */
      -25% 0%     /* f */
    );
    opacity: 1;
  }
}
.float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.float:hover,
.float:focus,
.float:active {
  transform: translateY(-8px);
}
@keyframes spinInRight {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transform: rotateZ(0deg) scale3d(0, 0, 0);
    transform-origin: center center; 
  }
  50% {opacity: 0.7}
  70% {
    transform: rotateZ(360deg) scale3d(1, 1, 1);
    transform-origin: center center; 
    opacity: 0.7
  }
  100% {
    transform: rotateZ(360deg) scale3d(1, 1, 1);
    transform-origin: center center; 
    opacity: 0.7
  } 
}
@keyframes spinInLeft {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transform: rotateZ(0deg) scale3d(0, 0, 0);
    transform-origin: center center; 
  }
  50% {opacity: 0.7}
  70% {
    transform: rotateZ(-360deg) scale3d(1, 1, 1);
    transform-origin: center center; 
    opacity: 0.7
  }
  100% {
    transform: rotateZ(-360deg) scale3d(1, 1, 1);
    transform-origin: center center; 
    opacity: 0.7
  }
}
.colorfix {
  transform: translate(0,-20vh);
  filter: invert(100%) hue-rotate(0deg) brightness(100%) contrast(100%)
}
.colorfix .icon:nth-child(1) img {
  animation: spinInLeft 3s;
  animation-delay: 4.0s;
  animation-fill-mode: forwards; 
  opacity: 0;
}
.colorfix .icon:nth-child(2) img {
  animation: spinInRight 3s;
  animation-delay: 4.25s;
  animation-fill-mode: forwards; 
  opacity: 0;
}
.colorfix .icon:nth-child(3) img {
  animation: spinInLeft 3s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards; 
  opacity: 0;
}
.colorfix .icon:nth-child(4) img {
  animation: spinInRight 3s;
  animation-delay: 4.75s;
  animation-fill-mode: forwards; 
  opacity: 0;
}
.colorfix .icon:nth-child(5) img {
  animation: spinInLeft 3s;
  animation-delay: 5.0s;
  animation-fill-mode: forwards; 
  opacity: 0;
}
.colorfix .icon:nth-child(6) img {
  animation: spinInRight 3s;
  animation-delay: 5.25s;
  animation-fill-mode: forwards; 
  opacity: 0;
}
.colorfix .icon:nth-child(7) img {
  animation: spinInLeft 3s;
  animation-delay: 5.5s;
  animation-fill-mode: forwards; 
  opacity: 0;
}
.colorfix .icon:nth-child(8) img {
  animation: spinInRight 3s;
  animation-delay: 5.75s;
  animation-fill-mode: forwards;
    opacity: 0;
}
.colorfix .icon:nth-child(9) img {
  animation: spinInLeft 3s;
  animation-delay: 6.0s;
  animation-fill-mode: forwards;  
  opacity: 0;
}
.colorfix .icon:nth-child(10) img {
  animation: spinInRight 3s;
  animation-delay: 6.25s;
  animation-fill-mode: forwards; 
  opacity: 0;
}
.colorfix .icon:nth-child(11) img {
  animation: spinInLeft 3s;
  animation-delay: 6.5s;
  animation-fill-mode: forwards; 
  opacity: 0;
}

.reddit:hover {
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(250%) hue-rotate(135deg) brightness(105%) contrast(104%);
}
.twitch:hover {
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(100%) hue-rotate(55deg) brightness(115%) contrast(104%);
}
.spotify:hover {
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(1900%) hue-rotate(-100deg) brightness(65%) contrast(104%);
}
.greasyfork:hover {
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
  transition-duration: 1.25s;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(105%) contrast(105%);
}
.github:hover {
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
  transition-duration: 1.25s;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(65%) contrast(105%);
}
.steam:hover {
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(250%) hue-rotate(0deg) brightness(125%) contrast(104%);
}
.onlyfans:hover {
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(500%) hue-rotate(-15deg) brightness(65%) contrast(104%);
}
.twitter:hover {
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(900%) hue-rotate(-15deg) brightness(65%) contrast(104%);
}
.youtube:hover {
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(300%) hue-rotate(135deg) brightness(105%) contrast(104%);
}
.glitch:hover {
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(800%) hue-rotate(35deg) brightness(125%) contrast(104%);
}
.discord:hover {
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(250%) hue-rotate(20deg) brightness(75%) contrast(104%);
}