.popup .popText {
  visibility: hidden;
}
.popup .popText::after {
  content: "";
}
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
  animation: fadeIn 1s
}
.gifbutton {
  animation: fadeIn 1s linear;
  animation-fill-mode: forwards; 
  animation-delay: 6.5s;
  opacity: 0;
}
@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
.button {
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  cursor: pointer;
  background-color: #7289da;
  border: #7289da;
}
.gif {
  filter: invert(60%) hue-rotate(0deg) brightness(150%) contrast(100%)
}
.desc {
  transform: translate(0,-2rem);
}
.luna {
  animation: text 3s ease-in-out;
  animation-fill-mode: forwards; 
  animation-delay: 0.75s;
}
@keyframes text {
  0% {
    background-position: 0px 50%;
    clip-path: circle(0%);
    opacity: 1;
  }
  100% {
    background-position: 0px 50%;
    clip-path: circle(100%);
    opacity: 1;
  }
}
.subL {
  animation: subtextL 3s ease-in-out;
  animation-fill-mode: forwards; 
  animation-delay: 2s;
  opacity: 0;
}
/*.micro {
  transform: translate(0,2vh)
}
.code {
  transform: translate(0,-13.5vh)
}
.gay {
  transform: translate(0,-28vh)
}*/
@keyframes subtextL {
  /*
  f--------a  
   \        \
     e        b
   /        /
  d--------c
  */
  0% {
    background-position: 0px 50%;
    clip-path: polygon(
      -50% 0%,    /* a */
      -50% 50%,   /* b */
      -50% 100%,  /* c */
      -50% 100%,  /* d */
      -50% 50%,   /* e */
      -50% 0%     /* f */
    );
    opacity: 1;
  }
    100% {
    background-position: 0px 50%;
    clip-path: polygon(
      175% 0%,    /* a */
      200% 50%,   /* b */
      175% 100%,  /* c */
      0% 100%,    /* d */
      0% 50%,     /* e */
      0% 0%       /* f */
    );
    opacity: 1;
  }
}
.subR {
  animation: subtextR 3s ease-in-out;
  animation-fill-mode: forwards; 
  animation-delay: 1.8s;
  opacity: 0;
}
@keyframes subtextR {
  /*
     f--------a
    /        /
  e        b 
    \        \
     d--------c
  */
  0% {
    background-position: 0px 50%;
    clip-path: polygon(
      150% 0%,    /* a */
      150% 50%,   /* b */
      150% 100%,  /* c */
      150% 100%,  /* d */
      150% 50%,   /* e */
      150% 0%     /* f */
    );
    opacity: 1;
  }
    100% {
    background-position: 0px 50%;
    clip-path: polygon(
      150% 0%,    /* a */
      150% 0%,    /* b */
      150% 100%,  /* c */
      -25% 100%,  /* d */
      -50% 50%,   /* e */
      -25% 0%     /* f */
    );
    opacity: 1;
  }
}
.float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.float:hover,
.float:focus,
.float:active {
  transform: translateY(-8px);
}
@keyframes spinInRight {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transform: rotateZ(0deg) scale3d(0, 0, 0);
    transform-origin: center center; 
  }
  50% { opacity: 0.7 }
  70% {
    transform: rotateZ(360deg) scale3d(1, 1, 1);
    transform-origin: center center; 
    opacity: 0.7
  }
  100% {
    transform: rotateZ(360deg) scale3d(1, 1, 1);
    transform-origin: center center; 
    opacity: 0.7
  } 
}
@keyframes spinInLeft {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transform: rotateZ(0deg) scale3d(0, 0, 0);
    transform-origin: center center; 
  }
  50% { opacity: 0.7 }
  70% {
    transform: rotateZ(-360deg) scale3d(1, 1, 1);
    transform-origin: center center; 
    opacity: 0.7
  }
  100% {
    transform: rotateZ(-360deg) scale3d(1, 1, 1);
    transform-origin: center center; 
    opacity: 0.7
  }
}
.colorfix {
  filter: invert(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
.icon {
  position: absolute;
}
.icon:nth-child(odd) img { opacity: 0; animation: spinInLeft 3s; animation-fill-mode: forwards }
.icon:nth-child(even) img { opacity: 0; animation: spinInRight 3s; animation-fill-mode: forwards }
.icon:nth-child(1)  img { animation-delay: 4.0s  }
.icon:nth-child(2)  img { animation-delay: 4.25s }
.icon:nth-child(3)  img { animation-delay: 4.5s  }
.icon:nth-child(4)  img { animation-delay: 4.75s }
.icon:nth-child(5)  img { animation-delay: 5.0s  }
.icon:nth-child(6)  img { animation-delay: 5.25s }
.icon:nth-child(7)  img { animation-delay: 5.5s  }
.icon:nth-child(8)  img { animation-delay: 5.75s }
.icon:nth-child(9)  img { animation-delay: 6.0s  }
.icon:nth-child(10) img { animation-delay: 6.25s }
.icon:nth-child(1)  { transform: rotate(36deg)  translateX(15rem) rotate(-36deg)  }
.icon:nth-child(2)  { transform: rotate(72deg)  translateX(15rem) rotate(-72deg)  }
.icon:nth-child(3)  { transform: rotate(108deg) translateX(15rem) rotate(-108deg) }
.icon:nth-child(4)  { transform: rotate(144deg) translateX(15rem) rotate(-144deg) }
.icon:nth-child(5)  { transform: rotate(180deg) translateX(15rem) rotate(-180deg) }
.icon:nth-child(6)  { transform: rotate(216deg) translateX(15rem) rotate(-216deg) }
.icon:nth-child(7)  { transform: rotate(252deg) translateX(15rem) rotate(-252deg) }
.icon:nth-child(8)  { transform: rotate(288deg) translateX(15rem) rotate(-288deg) }
.icon:nth-child(9)  { transform: rotate(324deg) translateX(15rem) rotate(-324deg) }
.icon:nth-child(10) { transform: rotate(360deg) translateX(15rem) rotate(-360deg) }
@keyframes spin1 {
  0%   { transform: rotate(36deg) translateX(15rem) rotate(-36deg) }
  100% { transform: rotate(calc(360deg + 36deg)) translateX(15rem) rotate(calc(-360deg - 36deg)) }
}
@keyframes spin2 {
  0%   { transform: rotate(72deg) translateX(15rem) rotate(-72deg) }
  100% { transform: rotate(calc(360deg + 72deg)) translateX(15rem) rotate(calc(-360deg - 72deg)) }
}
@keyframes spin3 {
  0%   { transform: rotate(108deg) translateX(15rem) rotate(-108deg) }
  100% { transform: rotate(calc(360deg + 108deg)) translateX(15rem) rotate(calc(-360deg - 108deg)) }
}
@keyframes spin4 {
  0%   { transform: rotate(144deg) translateX(15rem) rotate(-144deg) }
  100% { transform: rotate(calc(360deg + 144deg)) translateX(15rem) rotate(calc(-360deg - 144deg)) }
}
@keyframes spin5 {
  0%   { transform: rotate(180deg) translateX(15rem) rotate(-180deg) }
  100% { transform: rotate(calc(360deg + 180deg)) translateX(15rem) rotate(calc(-360deg - 180deg)) }
}
@keyframes spin6 {
  0%   { transform: rotate(216deg) translateX(15rem) rotate(-216deg) }
  100% { transform: rotate(calc(360deg + 216deg)) translateX(15rem) rotate(calc(-360deg - 216deg)) }
}
@keyframes spin7 {
  0%   { transform: rotate(252deg) translateX(15rem) rotate(-252deg) }
  100% { transform: rotate(calc(360deg + 252deg)) translateX(15rem) rotate(calc(-360deg - 252deg)) }
}
@keyframes spin8 {
  0%   { transform: rotate(288deg) translateX(15rem) rotate(-288deg) }
  100% { transform: rotate(calc(360deg + 288deg)) translateX(15rem) rotate(calc(-360deg - 288deg)) }
}
@keyframes spin9 {
  0%   { transform: rotate(324deg) translateX(15rem) rotate(-324deg) }
  100% { transform: rotate(calc(360deg + 324deg)) translateX(15rem) rotate(calc(-360deg - 324deg)) }
}
@keyframes spin10 {
  0%   { transform: rotate(360deg) translateX(15rem) rotate(-360deg) }
  100% { transform: rotate(calc(360deg + 360deg)) translateX(15rem) rotate(calc(-360deg - 360deg)) }
}
.icon:nth-child(1)  { animation: spin1 45s ease-in-out infinite;  animation-delay: 6.75s; animation-fill-mode: forwards }
.icon:nth-child(2)  { animation: spin2 45s ease-in-out infinite;  animation-delay: 6.75s; animation-fill-mode: forwards }
.icon:nth-child(3)  { animation: spin3 45s ease-in-out infinite;  animation-delay: 6.75s; animation-fill-mode: forwards }
.icon:nth-child(4)  { animation: spin4 45s ease-in-out infinite;  animation-delay: 6.75s; animation-fill-mode: forwards }
.icon:nth-child(5)  { animation: spin5 45s ease-in-out infinite;  animation-delay: 6.75s; animation-fill-mode: forwards }
.icon:nth-child(6)  { animation: spin6 45s ease-in-out infinite;  animation-delay: 6.75s; animation-fill-mode: forwards }
.icon:nth-child(7)  { animation: spin7 45s ease-in-out infinite;  animation-delay: 6.75s; animation-fill-mode: forwards }
.icon:nth-child(8)  { animation: spin8 45s ease-in-out infinite;  animation-delay: 6.75s; animation-fill-mode: forwards }
.icon:nth-child(9)  { animation: spin9 45s ease-in-out infinite;  animation-delay: 6.75s; animation-fill-mode: forwards }
.icon:nth-child(10) { animation: spin10 45s ease-in-out infinite; animation-delay: 6.75s; animation-fill-mode: forwards }
.reddit:hover {
  transition-property: filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(250%) hue-rotate(135deg) brightness(105%) contrast(104%);
}
.twitch:hover {
  transition-property: filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(100%) hue-rotate(55deg) brightness(115%) contrast(104%);
}
.spotify:hover {
  transition-property: filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(1900%) hue-rotate(-100deg) brightness(65%) contrast(104%);
}
.greasyfork:hover {
  transition-property: filter;
  transition-duration: 1.25s;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(105%) contrast(105%);
}
.github:hover {
  transition-property: filter;
  transition-duration: 1.25s;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(65%) contrast(105%);
}
.steam:hover {
  transition-property: filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(250%) hue-rotate(0deg) brightness(125%) contrast(104%);
}
.onlyfans:hover {
  transition-property: filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(500%) hue-rotate(-15deg) brightness(65%) contrast(104%);
}
.twitter:hover {
  transition-property: filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(900%) hue-rotate(-15deg) brightness(65%) contrast(104%);
}
.youtube:hover {
  transition-property: filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(300%) hue-rotate(135deg) brightness(105%) contrast(104%);
}
.glitch:hover {
  transition-property: filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(800%) hue-rotate(35deg) brightness(125%) contrast(104%);
}
.discord:hover {
  transition-property: filter;
  transition-duration: 1.25s;
  filter: invert(55%) sepia(100%) saturate(250%) hue-rotate(20deg) brightness(75%) contrast(104%);
}